body {
    display: grid;
    grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";
    gap: 20px;
}

.header {
    grid-area: header;
    place-self: center center;
}

.main {
    grid-area: main;
    place-self: center center;
}

.main table, th, td {
    border: 2px solid black
}

.footer {
    grid-area: footer;
    place-self: center center;
}